<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Biology</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Gas Chromatography, Mass Spectrometry, Confocal Microscopy, Scanning Electron Microscopy, Microbiome Analysis, Molecular Biology, Immunology, CRISPR Genetic Modification.</p>
    </div>
    <div class="tech">
      <h2>Data Science</h2>
      <i class="devicon-github-plain.colored{color:#181616}"></i>
      <i class="devicon-python-plain-wordmark.colored{color:#ffd845}"></i>
      <i class="devicon-rstudio-plain.colored{color:#75aadb}"></i>
      <p>Bioinformatics, Biostatistics, Metagenomics, Differential Gene Expression, Data Science, Data Analysis, Machine Learning, Python, R (RStudio), Bash, SQL, Excel, Tableau, Power BI.</p>
    </div>
    <div class="tech">
      <h2>Food Science</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Food Engineering, Food Technology, Physicochemical Analysis, Food Microbiology, Research, Experimental Design, Food Inspection, Food Manufacturing, Acidified Food Processing.</p>
    </div>
</div>
