<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Biology</h2>
      <img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 100%);transition: background-color 300ms;" src="https://clipartcraft.com/images/dna-clipart-icon-3.png" width="83" height="87">
    </svg>
    <p>DNA Extraction, cDNA synthesis, PCR, gut microbiota analysis (16S rRNA gene), biostatistics, bioinformatics, microscopy. Coming soon: CRISPR Cas-9.</p>
  </div>
  <div class="tech">
    <h2>Data Science</h2>
      <img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 100%);transition: background-color 300ms;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png" width="83" height="87">
    </svg>     
    <p>Machine learning, data science, data analysis, visualizations and statistics through Python, R and Bash. I am also familiar with SQL, Tableau and HTML.</p>
  </div>
  <div class="tech">
    <h2>Food Science</h2>
      <img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 100%);transition: background-color 300ms;" src="https://cdn.dribbble.com/users/7455/screenshots/952070/food-science-final.png" width="110" height="87">
    </svg>
    <p>Chemical analysis, physical analysis, sensory evaluation, microbiology, chromatography, manufacturing, engineering.</p>
  </div>
</div>
