<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Biology</h2>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-github-original-wordmark colored"></i>
      <p>Molecular Biology, Immunology, Microbiology, Targeted Protein Degradation, Protein Assays, Mammalian and Invertebrate Cell Culture, DNA Isolation, RNA Isolation, Western Blot, PCR, PCR Clean-up, Scanning Electron Microscopy.</p>
    </div>
    <div class="tech">
      <h2>Data Science</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <p>Genomics, Transcriptomics, Proteomics, Single-Cell, Spatial, Data Science and Analysis, Visualization, Statistics, R, Python, SQL, Bash, Excel, Tableau, PowerBI, HTML.</p>
    </div>
</div>
