<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/coming_soon.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Python</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/jorgegalarza1/Portfolio_Projects/tree/main/Python">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/coming_soon.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> R (Rstudio)</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/jorgegalarza1/Portfolio_Projects/tree/main/R">Check it out</a>
  </div>
  </div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/coming_soon.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> How-to-SQL </h3>
    <ul>
      <li> SQL</li>
    </ul>
    <p>SQL stands for Structured Query Language. SQL is one of the most important skills anyone working with data should definitely master. With this project I have created a manual with detailed notes, specifying what every command does.</p>
    <a class="project-link" href="https://github.com/jorgegalarza1/Portfolio_Projects/tree/main/SQL">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Human_saliva_microbiota.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Human Saliva Microbiota </h3>
    <ul>
      <li> Tableau</li>
    </ul>
    <p>The adult human body contains 2-6 pounds of bacteria at all times, some bacteria is beneficial for our health, some, not so much. In this visualization we take a look at the main bacteria phyla and species present in human saliva.</p>
    <a class="project-link" href="https://public.tableau.com/app/profile/jorge.galarza">Check it out</a>
  </div>
</div>
